.footer {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    margin: 0 48px;
    justify-content: space-between;
}
  
@media screen and (max-width: 984px) {
    .footer {
      margin: 0 24px;
    }
}
  
@media screen and (max-width: 568px) {
    .footer {
      flex-direction: column;
      margin: 0 16px;
    }
}