.place__url-heading{
    margin: 0 0 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAA;
  }

  @media screen and (max-width: 568px) {
    .place__url-heading{
      margin-left: 16px;
    }
  }